In [ ]:
#task 2 - Superstore_USA
1 . load this data in sql and in pandas with a relation in sql 
2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table 
3 . Find out how return that we ahve recived and with a product id 
4 . try  to join order and return data both in sql and pandas 
5 . Try to find out how many unique customer that we have 
6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11 . Gorup by region and find out which region is more profitable 
12 . Try to find out overalll in which country we are giving more didscount 
13 . Give me a list of unique postal code 
14 . which customer segement is more profitalble find it out . 
15 . try to find out the 10th most loss making product catagory . 
16 . Try to find out 10 top  product with highest margins 

submit your git link for the same 
 
you have to submit this task by next Friday 5th 11PM IST  to respective mail id 
sudhanshu@ineuron.ai , sunny.savita@ineuron.ai

In [7]:
import pandas as pd
import xlrd
import csv
import mysql.connector as conn

In [3]:
mydb = conn.connect(host = 'localhost', user = 'root', passwd = 'Nancy@2255')
cursor = mydb.cursor(buffered=True)

In [4]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('mysql+pymysql://root:8067@localhost/superstore')

In [ ]:
orders = pd.read_excel("SuperStore_USA.xlsx",skipinitialspace = True,names =["RowID","OrderPriority","Discount","UnitPrice","ShippingCost","CustomerID","CustomerName","ShipMode","CustomerSegment","ProductCategory","ProductSub-Category","ProductContainer","ProductName","ProductBase Margin","Region","StateorProvince","City","PostalCode","OrderDate","ShipDate","Profit","Quantityorderednew","Sales","OrderID"])

In [ ]:
orders.to_sql('orders', con=engine)

In [ ]:
type(orders)

In [ ]:
cursor = mydb.cursor()

cursor.execute("SELECT * FROM superstore.orders")

myresult = cursor.fetchall()

for x in myresult:
  print(x)

In [ ]:
#To bulk load data in MySQL database, we need to use mannual process which is given below:

#First to load excel file directly into database, we have to convert it into CSV file format. Then followthe steps.
#step 1 : Right click on table 
#step 2 : Select "Table Data Import Wizard"
#step 3 : Select the file which we have to load (in our case, it is SuperStore_USA.csv) and press next.
#step 4 : Select create new table and give the table name and press next.
#step 5 : Select the required conditions and press next. The data is loaded Successfully

In [ ]:
orders

In [8]:
#3. Find out how much returns we have recieved and with a product id 
xls = pd.ExcelFile('SuperStore_USA.xlsx')
returns = pd.read_excel(xls, 'Returns',names = ["OrderID","Status"])
users = pd.read_excel(xls, 'Users')

In [10]:
returns

      OrderID    Status
0          65  Returned
1         612  Returned
2         614  Returned
3         678  Returned
4         710  Returned
...       ...       ...
1629   182681  Returned
1630   182683  Returned
1631   182750  Returned
1632   182781  Returned
1633   182906  Returned

[1634 rows x 2 columns]

In [11]:
orders

NameError: name 'orders' is not defined

In [12]:
orders_returns = pd.merge(orders, returns)

NameError: name 'orders' is not defined

In [ ]:
a= pd.DataFrame(orders_returns)

In [ ]:
orders_returns.columns

In [ ]:
a[(a['Status']=='Returned')]['OrderID'] #There are total 98 orders which were returned
#In the question, Product ID is mentioned which is not available, So I have given the order ID instead.

In [ ]:
#4. try  to join order and return data both in sql and pandas 
pd.merge(orders, returns)

#Join in sql
#select * from returns_done INNER JOIN orders ON orders.OrderID=returns_done.orderID;

In [ ]:
#5. Try to find out how many unique customer that we have
cursor = mydb.cursor()
cursor.execute("select count(distinct CustomerID) from SuperStore.orders") #2703
print(cursor.fetchall())
cursor.close()

In [ ]:
total = orders['CustomerID'].unique()

In [ ]:
len(total)

In [ ]:
#6. try to find out in how many regions we are selling a product and who is a manager for a respective region 
users

In [ ]:
orders.columns

In [ ]:
len(orders['Region'].unique()) #There are 4 regions in total and the respective managers for each region are listed in above table 'users'

In [ ]:
#7. find out how many different different shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
Shipment_mode = orders['ShipMode']

In [ ]:
count = pd.Series(Shipment_mode).value_counts()
count

In [ ]:
s = pd.DataFrame(count)

In [ ]:
total_ship_mode = s.sum()

In [ ]:
((s[['ShipMode']])/total_ship_mode)*100 #percentage usablity of all the shipment mode with respect to dataset

In [ ]:
#8. Create a new coulmn and try to find our a diffrence between order date and shipment date
orders["difference_date"] =  orders['ShipDate'] - orders['OrderDate']

In [ ]:
orders

In [ ]:
#9. Based on Question number 8, find out for which order id we have shipment duration more than 10 days 
difference = orders['difference_date']

In [ ]:
orders[(orders['difference_date'].dt.components['days']>10)]

In [ ]:
orders[(orders['difference_date'].dt.components['days']>10)]['OrderID']

In [ ]:
#10. Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
all_data = pd.concat([orders,returns])

In [ ]:
pd.merge()

In [ ]:
orders.join(df11, how = 'right')

In [ ]:
all_data.columns

In [ ]:
all_data[(all_data['difference_date'].dt.components['days']>15)]

In [ ]:
orders.columns

In [ ]:
#11. Group by region and find out which region is most profitable 
orders.groupby(['Region'])['Profit'].aggregate('count').reset_index().sort_values("Profit",ascending = True)

In [ ]:
orders.groupby(['Region'])['Profit'].aggregate('count').reset_index().sort_values("Profit",ascending = True).max() #West Region is most Profitable

In [ ]:
orders['Discount'].unique()

In [ ]:
#12. Try to find out overall in which country we are giving more discount 
[orders[orders['Discount']>0.1]['Region']] #In central region, we are giving the most discounts.

In [ ]:
orders.columns

In [ ]:
#13. Give me a list of unique postal code 
orders['PostalCode'].unique()

In [ ]:
orders[orders["Profit"]>100].nunique()

In [ ]:
#14 . which customer segement is more profitable find it out . 
orders.groupby(['CustomerSegment'])['Profit'].aggregate('count') #The corporate Customer segment is more profitable than others

In [ ]:
#15. try to find out the 10th most loss making product catagory . 
orders[orders['Profit']<0].reset_index().sort_values('Profit', ascending = True).head(10)

In [ ]:
(orders.sort_values('Profit', ascending = True)).reset_index().iloc[[9]]

In [ ]:
#16. Try to find out 10 top  product with highest margins 
orders.sort_values(['ProductBase Margin'])['ProductName'].head(10)